<!-- index.ejs -->

<!doctype html>
<html>
    <head>
      <%- include('partials/head') %>
    </head>
    <body>
      <div id="wrap">
        <%- include('partials/nav') %>
        <div class="container" id="mainBody">
          <%- body %>
        </div>
      </div>
      <div id="footer">
        <%- include('partials/footer') %>
      </div>
      <%- include('partials/plugins') %>
    </body>
</html>
